<!DOCTYPE html> 
{% extends 'rosario_construction_app/main.html' %}
{% block main %}
          <main style="height:500px; max-height:500px; overflow-y: auto;">
              {% if contacts %}
                <table class="table table-hover">
                  <thead>
                      <tr>
                        <th scope="col">#</th>
                      <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for contact in contacts %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ contact.full_name }}</td>
                          <td>{{ contact.phone_number }}</td>
                          <td>{{ contact.email }}</td>
                          <!-- <td>{{ contact.message }}</td> -->
                          <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="message('{{ contact.email }}', '{{ contact.message }}')">Message</button></td>
                        </tr>
                      {% endfor %}
                    </tbody>                          
              </table>
            {% endif %}
          </main>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const message = (email, message) =>{
      document.querySelector('#exampleModalLabel').innerText = email;
      document.querySelector('.modal-body').innerText = message;
    }
  </script>

{% endblock %}
