{% extends 'rosario_construction_app/main.html' %}
{% load staticfiles %}
{% block main %}
<link type="text/css" href="{% static 'rosario_construction_app/css/invoice.css' %}" rel="stylesheet" />
    <div style="overflow-x: auto;">
        <br />
        <br />
        <div id="invoice">
            <div id="page-wrap">
                <textarea id="header">INVOICE</textarea>
                <div id="identity">
                
            <textarea id="address">
Rosario Garcia

1493 Gadwall Rd. NE
Albuquerque, NM 87144

Phone: (505) 459-2409
            </textarea>

                    <div id="logo">

                    <div id="logoctr">
                        <a href="javascript:;" id="change-logo" title="Change logo">Change Logo</a>
                        <a href="javascript:;" id="save-logo" title="Save changes">Save</a>
                        |
                        <a href="javascript:;" id="delete-logo" title="Delete logo">Delete Logo</a>
                        <a href="javascript:;" id="cancel-logo" title="Cancel changes">Cancel</a>
                    </div>

                    <div id="logohelp">
                        <input id="imageloc" type="text" size="50" value=""><br>
                        (max width: 540px, max height: 100px)
                    </div>
                    <img id="image" src="{% static 'rosario_construction_app/images/logo.png' %}" alt="logo">
                    </div>
                
                </div>
                
                <div style="clear:both"></div>
                
                <div id="customer">

                    <textarea id="customer-title">Customers Title</textarea>

                    <table id="meta">
                        <tbody><tr>
                            <td class="meta-head">Invoice #</td>
                            <td><textarea>000123</textarea></td>
                        </tr>
                        <tr>

                            <td class="meta-head">Date</td>
                            <td><textarea id="date"></textarea></td>
                        </tr>
                        <tr>
                            <td class="meta-head">Amount Due</td>
                            <td><div class="due">$150.00</div></td>
                        </tr>

                    </tbody></table>
                
                </div>
                <div>
                    <table id="items">
                    
                    <tbody><tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Unit Cost</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    
                    <tr class="item-row">
                        <td class="item-name"><div class="delete-wpr"><textarea>Example 1</textarea><a onclick="_remove(this)" class="delete" href="javascript:;" title="Remove row">X</a></div></td>
                        <td class="description"><textarea>Just a example but this can be changed</textarea></td>
                        <td><textarea class="cost">$100.00</textarea></td>
                        <td><textarea class="qty">1</textarea></td>
                        <td><span class="price">$100.00</span></td>
                    </tr>
                    
                    <tr class="item-row">
                        <td class="item-name"><div class="delete-wpr"><textarea>Example 2</textarea><a onclick="_remove(this)" class="delete" href="javascript:;" title="Remove row">X</a></div></td>

                        <td class="description"><textarea>Another example and this can also be changed</textarea></td>
                        <td><textarea class="cost">$50.00</textarea></td>
                        <td><textarea class="qty">3</textarea></td>
                        <td><span class="price">$50.00</span></td>
                    </tr>
                    
                    <tr id="hiderow">
                        <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row">Add a row</a></td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" class="blank"> </td>
                        <td colspan="2" class="total-line">Subtotal</td>
                        <td class="total-value"><div id="subtotal">$150.00</div></td>
                    </tr>
                    <tr>

                        <td colspan="2" class="blank"> </td>
                        <td colspan="2" class="total-line">Total</td>
                        <td class="total-value"><div id="total">$150.00</div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank"> </td>
                        <td colspan="2" class="total-line">Amount Paid</td>

                        <td class="total-value"><textarea id="paid">$0.00</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="blank"> </td>
                        <td colspan="2" class="total-line balance">Balance Due</td>
                        <td class="total-value balance"><div class="due">$150.00</div></td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
                <!-- <div id="terms">
                <h5>Terms</h5>
                <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
                </div> -->
            
            </div>
            <br />
            <br />
        </div>
        <div class="pull-right">
            <button onclick="download()" class="btn btn-primary">Download</button>
        </div>
    </div>
    <script>
        function download(){
            console.log(document.querySelector('#invoice').outerHTML)
        }
    </script>
    <script type="text/javascript" src="{% static 'rosario_construction_app/libraries/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rosario_construction_app/js/invoice.js' %}"></script>
{% endblock %}